*, *::before, *::after{
	box-sizing: border-box;
    outline: solid 1px;
	}

body{
    line-height: 1.5;
    font-family: "Roboto", "Noto Sans TC", sans-serif;
    color: #650300;
}
a{
    text-decoration: none;
    display: inline-block;
    color: inherit;
}
a :hover{
    opacity: 0.7;
}
img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
button {
    background-color: black;
    color: #fff;
    cursor: pointer; /* 鼠標指針樣式設為手指形狀 */
}
button:hover {
    opacity: 0.7;
  }
button:active{
    background-color: gray;
}  
