<footer class="footer"> 
    <div class="footer-container">
        <section class="footer-box">
            <div>
                <ul class="footer-nav">
                    <a href="index.html"><li>首頁</li></a>
                    <a href="#"><li>系列鏡框</li></a>
                    <a href="store.html"><li>門市據點</li></a>
                    <a href="#"><li>部落格</li></a>
                    <a href="#"><li>常見問題</li></a>
                </ul>
                <div class="footer-tel-mail">
                    <figcaption style="margin-bottom: 8px;">
                        <a href="#" class="d-flex">
                            <img src="/assets/images/ic-call.png" alt="tel-icon" class="tel-icon">
                            <h3 class="telmail-des">0800-000-000</h3>
                        </a>
                    </figcaption>
                    <figcaption>
                        <a href="#" class="d-flex">
                            <img src="/assets/images/ic-mail.png" alt="mail-icon" class="mail-icon">
                            <h3 class="telmail-des">glasses@business.com</h3>
                        </a> 
                    </figcaption>
                </div>
            </div>
            <figure class="footer-social-icon">
                <a href="#"><img src="/assets/images/ic-social-fb.png" alt="fb-icon"></a>
                <a href="#"><img src="/assets/images/ic_social_ig.png" alt="ig-icon"></a>
                <a href="#"><img src="/assets/images/ic_social_line.png" alt="line-icon"></a>
            </figure>
        </section>
        <section class="footer-copyright">
            <p>Copyright © 2020 Glasses.All rights reserved.</p>
            <ul class="footer-privacy">
                <a href="#"><li>隱私權政策</li></a>
                <a href="#"><li>服務條款</li></a>
            </ul>
        </section>                
    </div>
  </footer>
