<header class="header">
    <nav class="container-nav nav-wrapper ">
        <div class="logo-box">
            <a href="index.html">
                <img src="/assets/images/logo-white.png" alt="Logo-glass">
            </a> 
        </div>
        <ul class="nav-items">
            <a href="#"><li>系列鏡框</li></a>
            <a href="store.html"><li>門市據點</li></a>
            <a href="#"><li>部落格</li></a>
            <a href="#"><li>常見問題</li></a>
        </ul>
    </nav>
 </header>