.h1{
    font-size: 64px;
}
.h2{
    font-size: 48px;
    font-weight: bold;
} 
.h3{
    font-size: 36px;    
}
.f-6{
    font-size: 24px;
}

.ita{
    font-style: italic;
}
.d-flex{
    display: flex;
}
.justify-csb{
    justify-content: space-between;
}

.justify-ce{
    justify-content:flex-end;
}
.align-ic{
    align-items: center;
}
.text-align-c{
    text-align: center;
}
